@font-face {
  font-family: "Montserrat";
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
}


:root {
  --LaranjaWise: #FF5104;
  --RoxoWise: #875EF7;
  --PretoWise: #010101;
}

/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  width: 80vw;
  max-width: 1400px;

  margin: 25px auto;
}


/*------------------ Início do Styles --------------------------*/

header {
  height: 1229px;
  background-image: url(img/Fundo1HeaderCarrosel.png);
}


nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat";
  height: 18vh;
  /* border: 3px solid rgb(106, 0, 0); */


}

.nav-list a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 600;
}

.nav-list a:hover {
  color: #dae0f7;

  text-decoration-color: #dae0f7;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;
}

div.videoum {
  /* border: 3px solid rgb(161, 0, 0); */


  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  height: 80vh;
}

div.videoum img {
  height: 400px;
}

.videoum a{
  display: inline-block;         /* faz o link se comportar como botão */
}

#suporte a {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  /* espaço interno */
  border-radius: 20px;
}

/* Fim do header */

/* Main Start */

.sobrenos1 {
  display: flex;


}

.fotoVR {
  /* border: 3px solid rgb(106, 0, 0); */
}
.fotoVR img{
  height: 900px;
}

.sobretexto {
  padding-top: 250px;
  /* border: 3px solid rgb(106, 0, 0); */
}

.sobretexto h2 {
  font-family: "Montserrat";
  color: var(--RoxoWise);
  margin-bottom: 15px;
  font-size: 35px;
  letter-spacing: 2px;

}

.sobretexto p {
  font-family: "Montserrat";
  color: #9B9B9B;
  text-align: justify;
  font-size: 24px;
  margin-right: 40vh;
  margin-bottom: 10px;

}

.sobretexto a {
  display: inline-block;         /* faz o link se comportar como botão */
  margin-top: 100px;
  margin-left: 200px;

  background-color: transparent; /* se quiser sem fundo */
  color: var(--RoxoWise);                 /* cor do texto */
  border: 2px solid var(--RoxoWise);      /* borda roxa */
  border-radius: 25px;           /* deixa arredondado */
  padding: 15px 300px;            /* aumenta o tamanho interno */ 

  font-size: 20px;               /* aumenta a fonte */          
  font-family: "Montserrat";
  font-weight: 500;

  text-decoration: none; /* tira o sublinhado */
  transition: 0.3s;              /* suaviza ao passar o mouse */
}

.sobretexto a:hover {
  background-color:#8054fa;
  color: white;
}

.empresasprc {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 140px;

  /* border: 3px solid rgb(106, 0, 0);  */
}

.empresasprc h2 {
  color: var(--RoxoWise);
  font-family: "Montserrat";
  font-size: 37px;

  margin-bottom: 26px;

}

.empresasprc p, span {
  color: #9b9b9b;
  font-family: "Montserrat";
  font-size: 22px;
}
.empresasprc span{
  margin-bottom: 40px;
}

.carousel {
  position: relative;
  width: min(100%, 900px);
  height: 160px;
  padding: 0 56px;               /* espaço para as setas */
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg,#ff6a0090,#7a67ff90);
  a: 0 8px 24px rgba(0,0,0,.12) inset;
}

/* faixa deslizante */
.track {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  transition: transform .4s ease;
}

/* cada slide ocupa 100% da largura do carrossel */
.slide {
  min-width: 100%;
  display: grid;
  place-items: center;
}

/* imagem/“logo” dentro do slide */
.slide img {
  max-height: 80px;
  width: auto;
  object-fit: cover;
  /* se quiser só “círculo com fundo”, use um PNG dentro de um círculo:
  background:#fff; padding:10px; */
}

/* setas */
.nav {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background: none;
  font-weight: 800;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  backdrop-filter: blur(2px);
  transition: background .2s ease, transform .1s ease;
}

.nav:active { transform: translateY(-50%) scale(.98); }

.prev { left: 12px; }
.next { right: 12px; }

/* acessibilidade no teclado */
.nav:focus { outline: 2px solid #fff; outline-offset: 2px; }

.soleser{
  /* border: 3px solid rgb(106, 0, 0);  */

  margin-top: 140px;
  text-align: center;
}

.soleser h2{
  color: var(--LaranjaWise);
  font-family: "Montserrat";
  font-size: 37px;
}

.linhasolum{
  /* border: 3px solid rgb(106, 0, 0); */

  gap: 40px;
  padding-right: 70px; padding-left: 70px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Card 1,2 e 3 (Cloud border roxo) */
.datacenter, .cloudcc, .vdi, .observalidade, .netseg, .services{  
  border-radius: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.70);
  font-family: "Monteserrat";

  width: 450px;
} 
.cloudcc, .netseg{ border: 3px solid var(--RoxoWise);} .datacenter, .vdi, .observalidade, .services {border: 3px solid var(--LaranjaWise);}

.datacenter, .cloudcc, .vdi, .observalidade, .netseg, .services{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px;
  gap: 22px; 
  font-family: "Montserrat";
}
.datacenter img{ 
  height: 100px;
}
.datacenter p,
.cloudcc p,
.vdi p,
.observalidade p,
.netseg p,
.services p {
  font-size: 18px;
  color: #9B9B9B;
}

.datacenter span, .vdi span, .observalidade span, .services span{
  margin-top: 5px;
  font-size: 30px;
  color: var(--RoxoWise);
}

.cloudcc span, .netseg span{
  margin-top: 5px;
  font-size: 30px;
  color: var(--LaranjaWise);
}

.datacenter a, .vdi a, .observalidade a, .services a{
  display: inline-block;         /* faz o link se comportar como botão */
  background-color: var(--LaranjaWise);
  color: white;                 /* cor do texto */
  border-radius: 35px;           /* deixa arredondado */ 
  padding: 15px;
  font-size: 18px;               /* aumenta a fonte */          
  font-family: "Montserrat";
  font-weight: 500;

  text-decoration: none;          /* tira o sublinhado */
  transition: 0.3s;              /* suaviza ao passar o mouse */
}
.cloudcc a, .netseg a{
  display: inline-block;         /* faz o link se comportar como botão */
  background-color: var(--RoxoWise);
  color: white;                 /* cor do texto */
  border-radius: 35px;           /* deixa arredondado */ 
  padding: 15px;
  font-size: 18px;               /* aumenta a fonte */          
  font-family: "Montserrat";
  font-weight: 500;

  text-decoration: none;          /* tira o sublinhado */
  transition: 0.3s;              /* suaviza ao passar o mouse */

}

.datacenter a:hover, .cloudcc a:hover, .vdi a:hover, .observalidade a:hover, .services a:hover{
  background-color: #e14300;
}
.cloudcc a:hover, .netseg a:hover{
  background-color: #693ee0;
}

/* -------------------Copia a linha 1------------------------ */
.linhasoldois{
  /* border: 3px solid rgb(106, 0, 0); */

  gap: 40px;
  margin-left: 70px; margin-right: 70px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ------------------------------------------- */

.avaliar{
  border: 2px solid red; 
  margin-top: 200px;

    /* tamanho da área */
    height: 1300px;           /* ajuste conforme precisar */
    width: 100%;
    
    background-image: url("img/FundoFeedbackLP.png");
    background-size: cover;  /*cobre toda a área sem distorcer */       
    /* para conteúdo por cima da imagem */
    position: relative; 

    display: flex;
    justify-content: space-around;
}

.google{
  border: 2px solid green;
  width: 40%;
}
.google img{
  
  margin-top: 630px;
  margin-left: 35%;
}


.comentarios{
  border: 2px solid blue;
  width: 70%;
  padding: 40px 40px;
}
/*  */
/* FALTA O CARROSSEL */
/*  */

.postsrecentes{
  /* border: 2px solid blue; */

  display: flex;
  margin-top: 50px;
  height: 1100px;

}

.roxoball{
  /* border: 2px solid GREEN; */
}

.poststext{
  display: flex;
  flex-direction: column; 

  font-family: "Montserrat";
  font-size: 25px;
  color: var(--RoxoWise);

  height: 900px;
  width: 100%;
}

.poststext h2{
  margin-left: 30%;
}


.webposts{
  /* border: 2px solid purple; */

  height: 900px;
  margin-top: 85px;
  margin-left: -70px;
  padding: 0px 55px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.postig1, .postig2, .postig3{
  border: 5px solid black ; border-radius: 35px;

  background-color: rgb(245, 245, 245);
  overflow: hidden;

  height: 720px;
  width: 475px;
}

.linha1P1, .linha1P2, .linha1p3{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.linha2P1, .linha2P2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
}
/* Difrente no GAP */
.linha2P3{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;

}

.linha2P1 img, .linha2P2 img, .linha2P3 img{
  border-radius: 33px 33px 33px 33px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.688);

  transition: transform .5s ease;
}
.linha2P1 img:hover, .linha2P2 img:hover, .linha2P3 img:hover{
  transform: scale(1.02);
}


.linha2P1 a, .linha2P2 a, .linha2P3 a {

  display: inline-block;         /* faz o link se comportar como botão */
  background-color: var(--LaranjaWise);
  color: white;                 /* cor do texto */
  border-radius: 35px;           /* deixa arredondado */ 
  padding: 15px;
  font-size: 18px;               /* aumenta a fonte */          
  font-family: "Montserrat";
  font-weight: 500;

  text-decoration: none;          /* tira o sublinhado */
  transition: 0.3s;              /* suaviza ao passar o mouse */
  
}
.linha2P1 a:hover, .linha2P2 a:hover, .linha2P3 a:hover{
  background-color: #e14300;
}

.linha3P1{
  margin-top: 32px;
} .linha3P2{ margin-top: 32px;
} .linha3P3{ margin-top: 42px;}


/* .fundoposts{ 
  Códigos para foto de fundo
  border: 2px solid blue;
  height: 670px;
  width: 1267px;
  margin-left: 12%;
  background-image: url(img/FundoDivPosts.png);} */
















  .reference-box {
    max-width: 1366px;
    margin: 0 auto;
    border: solid 3px #1c113b;
    padding: 0 24px;
    box-sizing: border-box;
  }
  
  /* Só pra garantir um fundo legal por fora da moldura */
  body {
    background-color: #ffffff;
  }  


  /* Notebook padrão (1366px+) */
@media (min-width: 1366px) {
  body {
      /* seus ajustes para notebooks */
  }
}