@font-face {
  font-family: "Montserrat";
  src: url(fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
}
@font-face {
  font-family: 'Poppins';
  src: url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
}


:root {
  --LaranjaWise: #FF5104;
  --RoxoWise: #875EF7;
  --PretoWise: #010101;
}

/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  width: 80vw;
  max-width: 1400px;

  margin: 25px auto;
}


/*------------------ Início do Styles --------------------------*/

header {
  height: 1141px;
  background-image: url(img/Fundo1HeaderCarrosel.png);
  width: 100%;
}


nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat";
  height: 18vh;
  /* border: 3px solid rgb(106, 0, 0); */


}

.nav-list a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: 600;
}

.nav-list a:hover {
  color: #dae0f7;

  text-decoration-color: #dae0f7;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;
}

div.videoum {
  /* border: 3px solid rgb(161, 0, 0); */


  display: flex;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  height: 80vh;
}

div.videoum img {
  height: 400px;
}

.videoum a{
  display: inline-block;         /* faz o link se comportar como botão */
}

#suporte a {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  /* espaço interno */
  border-radius: 20px;
}

/* Fim do header */

.parceiros{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.parceirostext{
  padding: 0px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

}

.parceirostext h2{
  color: var(--RoxoWise);
  font-family: "Montserrat";
  font-size: 34px;
}
.parceirostext p{
  text-align: center;
  color: #777777;
  font-size: 20px;
  font-family: "Montserrat";
}

.imagens{
  /* border: solid 1.5px green; */

  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 25px;
}

.linha1, .linha2, .linha3, .linha4, .linha5{
  border: solid 1.5px pink;
  display: flex;
  justify-content: space-around;
}

.linha1 img, .linha2 img, .linha3 img, .linha4 img{
  height: 100px;
  gap: 20px;
  transition: transform 0.3s ease
}
.linha5 img{
  height: 100px;
  gap: 20px;
  transition: transform 0.3s ease
}
.linha1 img:hover, .linha2 img:hover, .linha3 img:hover, .linha4 img:hover, .linha5 img:hover{
  transform: scale(1.05);
}
/* -------------------------------------------- */

.avaliar{
  /* border: 2px solid red;  */
  margin-top: 150px;

    /* tamanho da área */
    height: 1300px;           /* ajuste conforme precisar */
    width: 100%;
    
    background-image: url("img/FundoFeedbackLP.png");
    background-size: cover;  /*cobre toda a área sem distorcer */       
    /* para conteúdo por cima da imagem */
    position: relative; 

    display: flex;
    justify-content: space-around;
}

.google{
  /* border: 2px solid green; */
  width: 40%;
}
.google img{
  
  margin-top: 630px;
  margin-left: 35%;
}


.comentarios{
  /* border: 2px solid blue; */
  width: 70%;
  padding: 40px 40px;

  display: flex;
  justify-content: space-evenly;

}
.cardbackum, .cardbackdois, .cardbacktres{
    height: 250px;
    background-color: rgba(255, 255, 255, 0.764);
    border: solid 0.5px black;
    border-radius: 25px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    padding: 20px 20px;

    font-family: "Montserrat";
    color: #7c7c7c;

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.688);

    gap: 20px;
    width: 250px;

    transition: transform .5s ease;

    margin-top: 590px;
}
.cardbackum:hover, .cardbackdois:hover, .cardbacktres:hover{
  transform: scale(1.02);
}
/* ------------------------------------------- */

/* Fonte base – use a que você já estiver usando no site */
.footer {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #ffffff;
  margin-top: 100px;

  /* Fundo usando a imagem */
  background-image: url("img/FundoFooter.png"); /* ajusta o caminho se estiver em outra pasta */
  background-repeat: no-repeat;
  background-size: cover;          /* cobre toda a largura do footer */
  background-position: center bottom; /* puxa o degradê pra baixo */
}


/* Parte de cima do footer */
.footer-top {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 30px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-column p,
.footer-column a,
.footer-column li {
  font-size: 12px;
  line-height: 1.5;
}

.footer-column ul {
  list-style: none;
}

.footer-column a {
  text-decoration: none;
  color: #ffffff;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* Logo à direita */
.footer-logo {
  margin-left: auto;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-logo .logo-text {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0.12em;
}
.footer-logo img{
  height: 50px;
}

.footer-logo .logo-subtitle {
  font-size: 11px;
  font-weight: 600;
  margin-top: 4px;
}

/* Parte de baixo – direitos autorais */
.footer-bottom {
  text-align: center;
  font-size: 10px;
  padding: 10px 20px 18px;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

/* Responsivo */
@media (max-width: 900px) {
  .footer-top {
    gap: 30px;
  }

  .footer-logo {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-logo {
    text-align: left;
    margin-left: 0;
  }

  .footer-logo .logo-text {
    font-size: 26px;
  }
}